html, body{
    height: 100%;
}

body{
    margin: 0 auto;
    width: 50%;
    font-family: Helvetica, Arial, sans-serif;
    max-width: 720px;
    display: flex;
    flex-direction: column;
}

ul{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #444;
}
a:hover{
    color: #FF3B3F;
    transition: color 0.25s;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}
input{
    box-sizing: border-box;
    transition: border-color;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #DDD;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.06);
    font-size: 1em;
    margin-bottom: .75em;
    padding: .5em .5em;
    width: 100%;
 }
.table{
    border-collapse: collapse;
    width: 100%;
}
.table thead > tr{
    border: 2px solid #333;
    border-width: 0 0 2px 0;
}
.table th{
    padding: 15px 10px;
    text-align: center;
    color: #333;
    background-color: #fff;
}
.table tr{
    border-top: 1px solid #ccc;
}
.table td{
    padding: 10px;
    font-size: 0.9em;
    text-align: center;
}

::-webkit-input-placeholder{ /* Chrome/Opera/Safari */
    color: #ccc;
}
.input-validation-error::-webkit-input-placeholder{
    color: rgb(255, 111, 118);
}
::-moz-placeholder { /* Firefox 19+ */
    color: #ccc;
}
.input-validation-error::-moz-placeholder { /* Firefox 19+ */
    color: rgb(255, 111, 118);
}
:-ms-input-placeholder { /* IE 10+ */
    color: #ccc;
}
.input-validation-error:-ms-input-placeholder { /* IE 10+ */
    color: rgb(255, 111, 118);
}
:-moz-placeholder { /* Firefox 18- */
    color: #ccc;
    opacity: 1;
}
.input-validation-error:-moz-placeholder { /* Firefox 18- */
    color: rgb(255, 111, 118);
}





 .hide {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
 }

.button{
    font-family: inherit;
    font-size: 100%;
    padding: .5em 1em;
    color: #fff;
    border: 1px solid #999;
    border: transparent;
    background-color: #FF3B3F;
    text-decoration: none;
    border-radius: 2px;
}
.button:hover{
    cursor: pointer;
    background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
}
.button-small{
    font-size: 0.8em;
}

.input-validation-error{
    border: 1px solid rgb(255, 111, 118);
    color: #FF3B3F;
}
.validation-summary-errors ul{
    padding-left: 20px;
}




.site-header{
    padding: 75px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.site-header__content{
    flex-grow: 1;
}
.site-header__title{
    font-size: 2em;
    color: #FF3B3F;
}
.site-header__title:hover{
    text-decoration: none;
    color: #ff9da0;
}

.nav__list{
    list-style: none;
    padding: 0;
    margin-top: 5px;
}
.nav__item{
    float: left;
    margin-right: 10px;
    line-height: 2em;
}
.nav__link--current-page{
    font-weight: bold;
}
.nav__link{
    color: #444;
    text-decoration: none;
    font-size: .9em;
}

.main{
    flex-grow: 1;
}

.post{
    margin-bottom: 100px;
}
.post__title{
    color: #444;
    font-size: 40px;
    font-family: Georgia, serif;
    margin-bottom: 10px;
}
.post__title:hover{
    color: #FF3B3F;
}
.post__body{
    text-align: justify;
    line-height: 2em;
}
.post__body p{
    margin: 2em 0;
}
.post__body img{
    width: 100%;
}

.paging-nav{
    display: flex;
    justify-content: space-between;
    padding: .5em 0;
}
.paging-nav--newer{
    order: 2;
}
.paging-nav--older{
    order: 1;
}

.site-footer{
    font-size: 0.6em;
    text-align: center;
    margin: 25px auto;
    align-self: flex-end;
}

.form-field{
    position: relative;
}

.form-field__label{
    opacity: 0;
}

.page-title{
    font-size: 3em;
    margin-bottom: 0.5em;
}
textarea#Body.input-validation-error ~ .CodeMirror {
    border-color: #ff9da0;
    opacity: 1;
}




[data-tooltip]:not(.field-validation-valid) {
    position: relative;
    display: inline-block;
    padding: 0.5em;
    background-color: #FF3B3F;
    border-color: #ff9da0;
    border-radius: 3px;
    margin-bottom: 8px;
    color: #fff;
}

[data-tooltip] span::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 15px;
    border-width: 5px;
    border-style: solid;
    border-color: #FF3B3F transparent transparent transparent;
}

.posts-table{
    table-layout: fixed;
}
.table .posts-table__title-header{
    width: 50%;
    text-align: left;
}
.table .posts-table__title-cell{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    padding-left: 0;
}
.posts-table a{
    padding: 10px;
}
