@page
@model NewModel

<h2>New Post</h2>

<form method="post">
    <div asp-validation-summary="All"></div>

    <div>
        <label asp-for="Title"></label>
        <input asp-for="Title" placeholder="Title">
        <span asp-validation-for="Title"></span>
    </div>

    <div>
        <textarea asp-for="Body" id="new-blog-post"></textarea>
    </div>

    <div>
        <button type="submit" asp-page-handler="publish">Save</button>
    </div>
</form>

@section Scripts {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

    <script>
        var simplemde = new SimpleMDE({ element: document.getElementById('new-blog-post') });
    </script>
}