@page
@model NewModel

<h2 class="page-title">New Post</h2>

<form method="post">
    <div class="form-field">
        <label asp-for="Title" class="form-field__label hide" data-tooltip></label>
        <span asp-validation-for="Title" data-tooltip></span>
        <input asp-for="Title" class="form-field__input" placeholder="Title">
    </div>

    <div class="form-field vue-tag-input">
        <label asp-for="Tags" class="form-field__label hide"></label>
        <span asp-validation-for="Tags" data-tooltip></span>
        <tag-input></tag-input>
    </div>

    <div class="form-field">
        <span asp-validation-for="Body" data-tooltip></span>
        <textarea asp-for="Body" id="Body"></textarea>
    </div>

    <div>
        <button type="submit" asp-page-handler="publish" class="button">Publish</button>
        <button type="submit" asp-page-handler="save" class="button">Save Draft</button>
    </div>
</form>

@section Scripts {
    @Html.Partial("_Scripts")
}
