@page
@model LoginModel

@if(User.Identity.IsAuthenticated)
{
    <p>You are already logged in.</p>
}
else
{
    <h2 class="page-title">Log In</h2>

    <div asp-validation-summary="All"></div>

    <form method="post" class="login">
        <div class="form-field">
            <label asp-for="Input.Email" class="form-field__label hide" data-tooltip></label>
            <span asp-validation-for="Input.Email" data-tooltip></span>
            <input asp-for="Input.Email" class="form-field__input" placeholder="Email"/>
        </div>

        <div class="form-field">
            <label asp-for="Input.Password" class="form-field__label hide" data-tooltip></label>
            <span asp-validation-for="Input.Password" data-tooltip></span>
            <input asp-for="Input.Password" class="form-field__input" placeholder="Password"/>
        </div>

        <div class="login__submit">
            <button type="submit" class="button">Log in</button>
        </div>

        <div class="login__forgotPassword">
            <a asp-page="./ForgotPassword">Forgot your password?</a>
        </div>
    </form>
}

@section Scripts {
    @await  Html.PartialAsync("_ValidationScriptsPartial")
}
