@page
@model RegisterModel

<h2>Register</h2>

<form method="post">
    <div asp-validation-summary="All"></div>

    <div>
        <div>
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email"/>
            <span asp-validation-for="Input.Email"></span>
        </div>

        <div>
            <label asp-for="Input.Password"></label>
            <input asp-for="Input.Password"/>
            <span asp-validation-for="Input.Password"></span>
        </div>

        <div>
            <button type="submit">Register</button>
        </div>
    </div>
</form>