@using Microsoft.AspNetCore.Identity
@using blog.Data
@inject SignInManager<ApplicationUser> SignInManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - blog</title>
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>
    <header class="site-header">
        <div class="site-header__content">
            <a asp-page="/Index" asp-route-pageNum="" asp-route-pagingSegment="" class="site-header__title">Mike Gasparelli</a>
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item"><a asp-page="/Index" asp-route-pageNum="" asp-route-pagingSegment="" class="nav__link nav__link--current-page">Home</a></li>
                    <li class="nav__item"><a asp-page="/About" class="nav__link">About</a></li>
                    <li class="nav__item"><a asp-page="/Contact" class="nav__link">Contact</a></li>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="nav__item"><a asp-page="/Admin/Posts/Index" class="nav__link">View Posts</a></li>
                        <li class="nav__item"><a asp-page="/Admin/Posts/New" class="nav__link">New Post</a></li>
                    }
                    @await Html.PartialAsync("_LoginPartial")
                </ul>
            </nav>
        </div>
        <div class="site-header__image">
            <img src="~/images/header-image.png" class="site-header__image">
        </div>
    </header>

    <main class="main">
        @RenderBody()
    </main>

    <footer class="site-footer">
        <p>Copyright © @DateTime.Today.ToString("yyyy") - Mike Gasparelli</p>
        <p>Opinions are my own and not the views of my employer.
        Code samples are provided "as is", without warranty of any kind, express or implied.</p>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
